<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="keyword" content="The magnet public school, Arun chauhan, magnet hamirpur, magnet, magnet-erp" />
    <meta name="description" content="Aschool" />
    <meta name="Author" content="Mansi Gulati (hoor pari), Lord Abhay Sharma himself,Abhay Singh (Stunt boi), Abhinav Shroff(Tiger) , Abhinav Sharma(Badal Sharma) " />
    <link rel="stylesheet" href="/sass/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda|Raleway&display=swap" rel="stylesheet">
</head>
<body>
<section id="main">
    <div class="container-page">
        <div class="master-box">
            <div class="left-box">
                <div class="left-circle">
                    <h1>
                        The Magnet
                        <br>
                        Erp
                    </h1>
                </div>
            </div>
            <div class="right-box">
                <div class="right-image">
                    <img src="/images/f3.jpg" >
                </div>
                <div class="paragraph">
                    <p>
                        Welcome to the magnet's Erp portal<br>
                        <a href="">
                            Explore
                            
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="section">
    <div class="container-page">
        <h1>
            About The Magnet
        </h1>
        <div class="master-box">
            <div class="left-box">
                <div class="left-image">
                    <img src="/images/i1.jpg" >
                </div>
            </div>
            <div class="right-box">
                <div class="paragraph">
                    <div class="about-box">
                        <p id="about-text">
                            Velit qui nostrud sint cillum do officia tempor velit sunt tempor irure et. Id est minim quis nostrud amet minim consequat id eiusmod do magna adipisicing. Irure eiusmod Lorem minim fugiat commodo qui tempor minim consectetur. Esse ipsum ipsum elit consectetur laborum magna. Aliqua et veniam proident dolore officia occaecat dolor in est Lorem. Qui ea consequat commodo eu id tempor et duis eiusmod.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>