<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="keyword" content="The magnet public school, Arun chauhan, magnet hamirpur, magnet, magnet-erp" />
    <meta name="description" content="Aschool" />
    <meta name="Author" content="Mansi Gulati (hoor pari), Lord Abhay Sharma himself,Abhay Singh (Stunt boi), Abhinav Shroff(Tiger) , Abhinav Sharma(Badal Sharma) " />
    <link rel="stylesheet" href="/sass/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<section id="main">
    <div class="container-page">
        <div class="master-box">
            <!-- <div class="left-box">
                <div class="left-circle">
                    <h1>
                        The Magnet
                        <br>
                        Erp
                    </h1>
                </div>
            </div>
            <div class="right-box">
                <div class="right-image">
                    <img src="/images/f3.jpg" >
                </div>
                <div class="paragraph">
                    <p>
                        Welcome to the magnet's Erp portal<br>
                        <a href="">
                            Explore
                            
                        </a>
                    </p>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section id="section">
    <div class="container-page">
        <h1>
            About The Magnet
        </h1>
        <div class="master-box">
            <div class="left-box">
                <div class="left-image">
                    <img src="/images/i1.jpg" >
                </div>
            </div>
            <div class="right-box">
                <div class="paragraph">
                    <div class="about-box">
                        <p id="about-text">
                            Velit qui nostrud sint cillum do officia tempor velit sunt tempor irure et. Id est minim quis nostrud amet minim consequat id eiusmod do magna adipisicing. Irure eiusmod Lorem minim fugiat commodo qui tempor minim consectetur. Esse ipsum ipsum elit consectetur laborum magna. Aliqua et veniam proident dolore officia occaecat dolor in est Lorem. Qui ea consequat commodo eu id tempor et duis eiusmod.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container-page">
    
       <div class="heading">
           <h1>
               A word from the founder
           </h1>
       </div>

       <div class="master-box">
            <div class="left-box">
                <div class="some-text">
                    <div class="paragraph">
                        <div class="arun-text">
                            <p>
                                Esse anim tempor aliqua cupidatat amet incididunt consequat aliqua cupidatat. Laboris adipisicing dolore dolore excepteur nulla magna commodo ullamco. Nisi exercitation in incididunt irure sint eu ut proident deserunt elit occaecat tempor. Id qui voluptate exercitation dolor consectetur reprehenderit minim laboris consectetur sit non magna esse non.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right-box">
                <div class="arun-image">
                    <div class="arun-image-background">
                        <img src="/images/arun.jpg" alt="Arun Chauhan">

                        <p>
                            Arun Chauhan
                        </p>
                    </div>
                </div>
            </div>
       </div>
    </div>
</section>
<section class="gallery">

 <div class="container-page">
        <div class="heading">
                <h1>
                    Our Highlights
                </h1>
                <p>
                    The Magnet's Achievements and other Highlights from the past years
                </p>
            </div>
      <div class="master-box">
          <div class="gallery-box">
              <div class="inbox">
                  <div class="image-tile">
                      <div class="image-box">
                          <img src="/images/castle_kit8-net.png">
                      </div>
                      <div class="subtitle">
                        <p>
                            Lorem ipsum bla bla bla
                        </p>
                      </div>
                  </div>
              </div>
              <div class="inbox">
                    <div class="image-tile">
                        <div class="image-box">
                            <img src="/images/castle_kit8-net.png">
                        </div>
                        <div class="subtitle">
                          <p>
                              Lorem ipsum bla bla bla
                          </p>
                        </div>
                    </div>
                </div>
                <div class="inbox">
                        <div class="image-tile">
                            <div class="image-box">
                                <img src="/images/castle_kit8-net.png">
                            </div>
                            <div class="subtitle">
                              <p>
                                  Lorem ipsum bla bla bla
                              </p>
                            </div>
                        </div>
                 </div>
                    <div class="inbox">
                            <div class="image-tile">
                                <div class="image-box">
                                    <img src="/images/castle_kit8-net.png">
                                </div>
                                <div class="subtitle">
                                  <p class="sub-text">
                                      Lorem ipsum bla bla bla
                                  </p>
                                </div>
                            </div>
                     </div>
                     <div class="inbox">
                            <div class="image-tile">
                                <div class="image-box">
                                    <img src="/images/castle_kit8-net.png">
                                </div>
                                <div class="subtitle">
                                  <p class="sub-text">
                                      Lorem ipsum bla bla bla
                                  </p>
                                </div>
                            </div>
                     </div>
                     <div class="inbox">
                            <div class="image-tile">
                                <div class="image-box">
                                    <img src="/images/castle_kit8-net.png">
                                </div>
                                <div class="subtitle">
                                  <p class="sub-text">
                                      Lorem ipsum bla bla bla
                                  </p>
                                </div>
                            </div>
                     </div>
                     <div class="inbox">
                            <div class="image-tile">
                                <div class="image-box">
                                    <img src="/images/castle_kit8-net.png">
                                </div>
                                <div class="subtitle">
                                  <p class="sub-text">
                                      Lorem ipsum bla bla bla
                                  </p>
                                </div>
                            </div>
                     </div>
                     <div class="inbox">
                            <div class="image-tile">
                                <div class="image-box">
                                    <img src="/images/castle_kit8-net.png">
                                </div>
                                <div class="subtitle">
                                  <p class="sub-text">
                                      Lorem ipsum bla bla bla
                                  </p>
                                </div>
                            </div>
                     </div>
                     <div class="inbox">
                            <div class="image-tile">
                                <div class="image-box">
                                    <img src="/images/castle_kit8-net.png">
                                </div>
                                <div class="subtitle">
                                  <p class="sub-text">
                                      Lorem ipsum bla bla bla
                                  </p>
                                </div>
                            </div>
                     </div>

          </div>
      </div>
</div>
</section>

<section>
    <div class="container-page">
        <div class="heading">
            <h1>
                Appericiated By
            </h1>
        </div>
        <div class="master-box">
            <div class="back-image"></div>
            <div class="backimage">
                    <div class="wrapper">
                            <div class="slider">
                              <div class="slide">
                                <img src="/images/castle.png" />
                                <img src="/images/back.png" />
                                <img src="http://pluspng.com/img-png/twitter-png-logo-twitter-logo-png-image-with-transparent-background-2000.png" />
                                <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c541.png" />
                                <img src="https://vidu.xyz/wp-content/uploads/2019/05/logo.png" />
                                <img src="https://pngimg.com/uploads/amazon/amazon_PNG9.png" />
                                <img src="http://pngimg.com/uploads/samsung_logo/samsung_logo_PNG9.png" />
                              </div>
                              <div class="slide">
                                <img src="/images/castle.png" />
                                <img src="/images/back.png" />
                                <img src="http://pluspng.com/img-png/twitter-png-logo-twitter-logo-png-image-with-transparent-background-2000.png" />
                                <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c541.png" />
                                <img src="https://vidu.xyz/wp-content/uploads/2019/05/logo.png" />
                                <img src="https://pngimg.com/uploads/amazon/amazon_PNG9.png" />
                                <img src="http://pngimg.com/uploads/samsung_logo/samsung_logo_PNG9.png" />
                              </div>
                            </div>
                    </div>
                    <div class="wrapper" style="margin-top: 10%">
                            <div class="slider">
                              <div class="slide-2">
                                <img src="/images/castle.png" />
                                <img src="/images/back.png" />
                                <img src="http://pluspng.com/img-png/twitter-png-logo-twitter-logo-png-image-with-transparent-background-2000.png" />
                                <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c541.png" />
                                <img src="https://vidu.xyz/wp-content/uploads/2019/05/logo.png" />
                                <img src="https://pngimg.com/uploads/amazon/amazon_PNG9.png" />
                                <img src="http://pngimg.com/uploads/samsung_logo/samsung_logo_PNG9.png" />
                              </div>
                              <div class="slide-2">
                                <img src="/images/castle.png" />
                                <img src="/images/back.png" />
                                <img src="http://pluspng.com/img-png/twitter-png-logo-twitter-logo-png-image-with-transparent-background-2000.png" />
                                <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c541.png" />
                                <img src="https://vidu.xyz/wp-content/uploads/2019/05/logo.png" />
                                <img src="https://pngimg.com/uploads/amazon/amazon_PNG9.png" />
                                <img src="http://pngimg.com/uploads/samsung_logo/samsung_logo_PNG9.png" />
                              </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
</section>

<section class="faculty">
    <div class="container-page">
            <div class="heading">
                    <h1>
                       The Magnet's Extraordinary Core
                    </h1>
                    <p>
                        The Magnet's faculty that makes it possible to motivate and cultivate students towards a bright future
                    </p>
                </div>
        <div class="master-box">
            <div class="cards-faculty">
                <div class="card">
                    <div class="card-box">
                        <div class="top">
                            <div class="bg">
                                <div class="image">
                                    <img src="/images/arun.jpg" alt="arun-sir">

                                </div>
                            </div>
                        </div>
                        <div class="mid">
                            <div class="name">
                                <h1>
                                    Arun Chauhan
                                </h1>
                            </div>
                            <h1>
                                Founder & Principal
                            </h1>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>
                                    <a>
                                        <i class="fa fa-facebook">

                                        </i>
                                        
                                    </a>
                                </li>
                                <li>
                                        <a>
                                            <i class="fa fa-linkedin">
    
                                            </i>
                                            
                                        </a>
                                 </li>
                                 <li>
                                        <a>
                                            <i class="fa fa-twitter">
    
                                            </i>
                                            
                                        </a>
                                 </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                        <div class="card-box">
                            <div class="top">
                                <div class="bg">
                                    <div class="image">
                                        <img src="/images/arun.jpg" alt="arun-sir">
    
                                    </div>
                                </div>
                            </div>
                            <div class="mid">
                                <div class="name">
                                    <h1>
                                        Arun Chauhan
                                    </h1>
                                </div>
                                <h1>
                                    Founder & Principal
                                </h1>
                            </div>
                            <div class="bottom">
                                <ul>
                                    <li>
                                        <a>
                                            <i class="fa fa-facebook">
    
                                            </i>
                                            
                                        </a>
                                    </li>
                                    <li>
                                            <a>
                                                <i class="fa fa-linkedin">
        
                                                </i>
                                                
                                            </a>
                                     </li>
                                     <li>
                                            <a>
                                                <i class="fa fa-twitter">
        
                                                </i>
                                                
                                            </a>
                                     </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                            <div class="card-box">
                                <div class="top">
                                    <div class="bg">
                                        <div class="image">
                                            <img src="/images/arun.jpg" alt="arun-sir">
        
                                        </div>
                                    </div>
                                </div>
                                <div class="mid">
                                    <div class="name">
                                        <h1>
                                            Arun Chauhan
                                        </h1>
                                    </div>
                                    <h1>
                                        Founder & Principal
                                    </h1>
                                </div>
                                <div class="bottom">
                                    <ul>
                                        <li>
                                            <a>
                                                <i class="fa fa-facebook">
        
                                                </i>
                                                
                                            </a>
                                        </li>
                                        <li>
                                                <a>
                                                    <i class="fa fa-linkedin">
            
                                                    </i>
                                                    
                                                </a>
                                         </li>
                                         <li>
                                                <a>
                                                    <i class="fa fa-twitter">
            
                                                    </i>
                                                    
                                                </a>
                                         </li>
                                    </ul>
                                </div>
                            </div>
                    </div>

                    <div class="card">
                            <div class="card-box">
                                <div class="top">
                                    <div class="bg">
                                        <div class="image">
                                            <img src="/images/arun.jpg" alt="arun-sir">
        
                                        </div>
                                    </div>
                                </div>
                                <div class="mid">
                                    <div class="name">
                                        <h1>
                                            Arun Chauhan
                                        </h1>
                                    </div>
                                    <h1>
                                        Founder & Principal
                                    </h1>
                                </div>
                                <div class="bottom">
                                    <ul>
                                        <li>
                                            <a>
                                                <i class="fa fa-facebook">
        
                                                </i>
                                                
                                            </a>
                                        </li>
                                        <li>
                                                <a>
                                                    <i class="fa fa-linkedin">
            
                                                    </i>
                                                    
                                                </a>
                                         </li>
                                         <li>
                                                <a>
                                                    <i class="fa fa-twitter">
            
                                                    </i>
                                                    
                                                </a>
                                         </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    <div class="card">
                            <div class="card-box">
                                <div class="top">
                                    <div class="bg">
                                        <div class="image">
                                            <img src="/images/arun.jpg" alt="arun-sir">
        
                                        </div>
                                    </div>
                                </div>
                                <div class="mid">
                                    <div class="name">
                                        <h1>
                                            Arun Chauhan
                                        </h1>
                                    </div>
                                    <h1>
                                        Founder & Principal
                                    </h1>
                                </div>
                                <div class="bottom">
                                    <ul>
                                        <li>
                                            <a>
                                                <i class="fa fa-facebook">
        
                                                </i>
                                                
                                            </a>
                                        </li>
                                        <li>
                                                <a>
                                                    <i class="fa fa-linkedin">
            
                                                    </i>
                                                    
                                                </a>
                                         </li>
                                         <li>
                                                <a>
                                                    <i class="fa fa-twitter">
            
                                                    </i>
                                                    
                                                </a>
                                         </li>
                                    </ul>
                                </div>
                            </div>
                    </div>

                    <div class="card">
                            <div class="card-box">
                                <div class="top">
                                    <div class="bg">
                                        <div class="image">
                                            <img src="/images/arun.jpg" alt="arun-sir">
        
                                        </div>
                                    </div>
                                </div>
                                <div class="mid">
                                    <div class="name">
                                        <h1>
                                            Arun Chauhan
                                        </h1>
                                    </div>
                                    <h1>
                                        Founder & Principal
                                    </h1>
                                </div>
                                <div class="bottom">
                                    <ul>
                                        <li>
                                            <a>
                                                <i class="fa fa-facebook">
        
                                                </i>
                                                
                                            </a>
                                        </li>
                                        <li>
                                                <a>
                                                    <i class="fa fa-linkedin">
            
                                                    </i>
                                                    
                                                </a>
                                         </li>
                                         <li>
                                                <a>
                                                    <i class="fa fa-twitter">
            
                                                    </i>
                                                    
                                                </a>
                                         </li>
                                    </ul>
                                </div>
                            </div>
                    </div>


            </div>
        </div>
    </div>
</section>
<section class="gallery">
    <div class="container-page">
        <div class="heading">
            <h1>
                Toppers of the magnet
            </h1>
        </div>
        <div class="master-box">
            <div class="cards-faculty">
                <div class="card">
                    <div class="card-box">
                        <div class="top">
                            <div class="bg">
                                <div class="image">
                                    <img src="/images/arun.jpg" alt="arun-sir">

                                </div>
                            </div>
                        </div>
                        <div class="mid">
                            <div class="name">
                                <h1>
                                    Arun Chauhan
                                </h1>
                            </div>
                            <h1>
                                Founder & Principal
                            </h1>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>
                                    <a>
                                        <i class="fa fa-facebook">

                                        </i>
                                        
                                    </a>
                                </li>
                                <li>
                                        <a>
                                            <i class="fa fa-linkedin">
    
                                            </i>
                                            
                                        </a>
                                 </li>
                                 <li>
                                        <a>
                                            <i class="fa fa-twitter">
    
                                            </i>
                                            
                                        </a>
                                 </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                        <div class="card-box">
                            <div class="top">
                                <div class="bg">
                                    <div class="image">
                                        <img src="/images/arun.jpg" alt="arun-sir">
    
                                    </div>
                                </div>
                            </div>
                            <div class="mid">
                                <div class="name">
                                    <h1>
                                        Arun Chauhan
                                    </h1>
                                </div>
                                <h1>
                                    Founder & Principal
                                </h1>
                            </div>
                            <div class="bottom">
                                <ul>
                                    <li>
                                        <a>
                                            <i class="fa fa-facebook">
    
                                            </i>
                                            
                                        </a>
                                    </li>
                                    <li>
                                            <a>
                                                <i class="fa fa-linkedin">
        
                                                </i>
                                                
                                            </a>
                                     </li>
                                     <li>
                                            <a>
                                                <i class="fa fa-twitter">
        
                                                </i>
                                                
                                            </a>
                                     </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                            <div class="card-box">
                                <div class="top">
                                    <div class="bg">
                                        <div class="image">
                                            <img src="/images/arun.jpg" alt="arun-sir">
        
                                        </div>
                                    </div>
                                </div>
                                <div class="mid">
                                    <div class="name">
                                        <h1>
                                            Arun Chauhan
                                        </h1>
                                    </div>
                                    <h1>
                                        Founder & Principal
                                    </h1>
                                </div>
                                <div class="bottom">
                                    <ul>
                                        <li>
                                            <a>
                                                <i class="fa fa-facebook">
        
                                                </i>
                                                
                                            </a>
                                        </li>
                                        <li>
                                                <a>
                                                    <i class="fa fa-linkedin">
            
                                                    </i>
                                                    
                                                </a>
                                         </li>
                                         <li>
                                                <a>
                                                    <i class="fa fa-twitter">
            
                                                    </i>
                                                    
                                                </a>
                                         </li>
                                    </ul>
                                </div>
                            </div>
                    </div>

                    <div class="card">
                            <div class="card-box">
                                <div class="top">
                                    <div class="bg">
                                        <div class="image">
                                            <img src="/images/arun.jpg" alt="arun-sir">
        
                                        </div>
                                    </div>
                                </div>
                                <div class="mid">
                                    <div class="name">
                                        <h1>
                                            Arun Chauhan
                                        </h1>
                                    </div>
                                    <h1>
                                        Founder & Principal
                                    </h1>
                                </div>
                                <div class="bottom">
                                    <ul>
                                        <li>
                                            <a>
                                                <i class="fa fa-facebook">
        
                                                </i>
                                                
                                            </a>
                                        </li>
                                        <li>
                                                <a>
                                                    <i class="fa fa-linkedin">
            
                                                    </i>
                                                    
                                                </a>
                                         </li>
                                         <li>
                                                <a>
                                                    <i class="fa fa-twitter">
            
                                                    </i>
                                                    
                                                </a>
                                         </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                    <div class="card">
                            <div class="card-box">
                                <div class="top">
                                    <div class="bg">
                                        <div class="image">
                                            <img src="/images/arun.jpg" alt="arun-sir">
        
                                        </div>
                                    </div>
                                </div>
                                <div class="mid">
                                    <div class="name">
                                        <h1>
                                            Arun Chauhan
                                        </h1>
                                    </div>
                                    <h1>
                                        Founder & Principal
                                    </h1>
                                </div>
                                <div class="bottom">
                                    <ul>
                                        <li>
                                            <a>
                                                <i class="fa fa-facebook">
        
                                                </i>
                                                
                                            </a>
                                        </li>
                                        <li>
                                                <a>
                                                    <i class="fa fa-linkedin">
            
                                                    </i>
                                                    
                                                </a>
                                         </li>
                                         <li>
                                                <a>
                                                    <i class="fa fa-twitter">
            
                                                    </i>
                                                    
                                                </a>
                                         </li>
                                    </ul>
                                </div>
                            </div>
                    </div>

                    <div class="card">
                            <div class="card-box">
                                <div class="top">
                                    <div class="bg">
                                        <div class="image">
                                            <img src="/images/arun.jpg" alt="arun-sir">
        
                                        </div>
                                    </div>
                                </div>
                                <div class="mid">
                                    <div class="name">
                                        <h1>
                                            Arun Chauhan
                                        </h1>
                                    </div>
                                    <h1>
                                        Founder & Principal
                                    </h1>
                                </div>
                                <div class="bottom">
                                    <ul>
                                        <li>
                                            <a>
                                                <i class="fa fa-facebook">
        
                                                </i>
                                                
                                            </a>
                                        </li>
                                        <li>
                                                <a>
                                                    <i class="fa fa-linkedin">
            
                                                    </i>
                                                    
                                                </a>
                                         </li>
                                         <li>
                                                <a>
                                                    <i class="fa fa-twitter">
            
                                                    </i>
                                                    
                                                </a>
                                         </li>
                                    </ul>
                                </div>
                            </div>
                    </div>


            </div>
        </div>
    </div>
</section>

<script src="/js/main.js"></script>
</body>
</html>